<h1>Projects</h1>
<div class="row">
  <% projects.each do |p| %>
    <div class="col-sm-6">
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title"><%= p[:name] %></h4>
          <p class="card-text"><%= p[:description] %></p>
          <a href="/projects/<%= p[:id] %>" class="btn btn-primary">More details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<h2>Add new project</h2>
<form action="/projects" method="post">
  Name: <input name="project_name" type="text">
  Description: <input name="project_description" type="text">
  <input type="submit">
</form>
